.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.input {
  font-family: 'Muli', sans-serif;
  padding: 5px;
  width: 300px;
  height: 20px;
  margin: 2px 0;
  border-radius: 5px;
  border: 1px solid grey;
}
.input:focus {
  outline: none;
  border-color: rgb(11, 161, 161);
}
